/*  做最好的织梦整站模板下载网站 */
/* 模版源码： */
/* 仿站：Fang.AdminBuy.Cn */
/* 素材网：Www.28sucai.Com 专业建站素材网站 */
/* QQ：XXX */
@charset "utf-8";
/* CSS Document */
/**全局**/
* {
	margin: 0px;
	padding: 0px;
}
div, form, img, ul, ol, li, dl, dt, dd, map {
	padding: 0;
	margin: 0;
	border: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
body {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #333;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif, "宋体";
	background: #fff;
}
ul, li {
	list-style: none;
}
.clear {
	clear: both;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #F00;
	text-decoration: none;
}
img {
	border: none;
}
hr {
	line-height: 0px;
	font-size: 0px;
	border: none;
	height: 1px;
	width: 100%;
	margin: 5px 0px;
}
div {
	margin: 0px auto;
}
.f_l {
	float: left;
}
.f_r {
	float: right;
}
input, select {
	font-family: arial, Helvetica, sans-serif;
	padding: 1px;
}
.blank {
	width: 100%;
	height: 10px;
	clear: both;
	overflow: hidden;
}
.blank20 {
	width: 100%;
	height: 20px;
	clear: both;
	overflow: hidden;
}
.mt10 {
	margin-top: 10px;
}
.hide {
	display: none;
}
.red {
	color: #f00;
}
.blue {
	color: #00f;
}
.gray {
	color: #ccc;
}
.noInfo {
	width: 100%;
	float: left;
	padding: 10px 0;
	text-align: center;
}
.input_submit {
	width: 77px;
	height: 41px;
	float: left;
	background: url(http://zf032109.demo.kangjingept.com/skin/images/search.png) no-repeat left top;
	text-align: center;
	line-height: 41px;
	color: #fff;
	border: 0px;
	cursor: pointer;
}
.float_bg {
	background: url(http://zf032109.demo.kangjingept.com/skin/images/qq_3.gif) repeat-y left top;
	width: 118px;
	padding: 2px 0;
	float: left;
}
.f_list {
	width: 100%;
	float: left;
	margin: 5px auto;
	clear: both;
}
.f_list span {
	float: left;
	width: 80px;
}
.block {
	width: 1000px;
	margin: 0 auto;
}
/*all*/
.main {
	width: 100%;
	float: left;
	padding: 30px 0;
}
.main_top {
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	padding-left: 40px;
	background: url(http://zf032109.demo.kangjingept.com/skin/images/dts.png) no-repeat left center;
	border-bottom: 1px solid #ececec;
	margin-bottom: 20px;
}
.main_top span {
	float: left;
	color: #fd8d43;
	font-weight: bold;
}
.main_top .span2 {
	float: right;
	color: #999;
}
.main_top ul {
	float: left;
}
.main_top ul li {
	float: left;
	padding: 0 5px;
	color: #666;
}
.main_top ul li a {
	color: #666;
}
.main_top ul li a:hover {
	color: #fd8d43;
}
/*end*/

/**顶部**/
#header {
	width: 100%;
	float: left;
	position: relative;
	z-index: 9999;
}
#top {
	float: left;
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #ebebeb;
	background: #f8f8f8;
}
.top_left {
	float: left;
}
.top_left span {
	float: left;
	font-size: 14px;
	color: #666;
	margin: 0 15px 0 5px;
}
.top_right {
	float: right;
	position: relative;
}
.top_right span {
	float: right;
	font-size: 14px;
	color: #666;
	margin: 0 5px 0 15px;
	cursor: pointer;
}
.span1 {
	position: relative;
}
.span1 .span2 {
	position: absolute;
	right: -10px;
	top: 34px;
	z-index: 1200;
	display: none;
}
.span1:hover .span2 {
	display: block;
}
.sitemap {
	position: absolute;
	top: 35px;
	right: 0;
	z-index: 1200;
	width: 750px;
	padding: 15px 30px;
	background: #fff;
	display: none;
}
.sitemap_item {
	width: 16.6%;
	float: left;
}
.sitemap_title {
	float: left;
	width: 100%;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
}
.sitemap_title a {
	font-size: 14px;
	color: #333;
	font-weight: bold;
}
.sitemap_item ul {
	float: left;
	width: 100%;
}
.sitemap_item ul li {
	float: left;
	width: 100%;
	height: 25px;
	line-height: 25px;
}
.sitemap_item ul li a {
	font-size: 12px;
	color: #666;
}
/*search*/
#search {
	width: 220px;
	float: right;
	margin: 5px 23px 0 0;
	position: relative;
}
#search form {
	margin: 0px auto;
	padding: 0px;
}
.skw {
	display: inline;
	width: 100%;
	text-indent: 30px;
	float: left;
	background: #fff;
	line-height: 26px;
	height: 26px;
	border: 1px solid #dedede;
	color: #666;
	border-radius: 23px;
}
.sub {
	width: 26px;
	height: 26px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	background: url(./search.jpeg) no-repeat left center;
	border: 0;
}
/*end*/
#logo {
	float: left;
}
#logo img {
	height: 80px;
	margin: 15px 0;
}
#header_right {
	float: right;
}
/*end*/

/*menu*/
#navigate {
	float: right;
	margin: 40px 5px 0 0;
	clear: both;
}
#navigate ul li {
	float: left;
	height: 50px;
	position: relative;
	z-index: 1000;
	text-align: center;
}
#navigate ul li.first_menu {
	background: none;
}
#navigate ul li a {
	padding: 0 24px;
	display: inline-table;
	line-height: 50px;
	height: 50px;
	color: #333;
	text-align: center;
	font-size: 16px;
	font-family: "微软雅黑";
}
#navigate ul li a:hover {
	color: #fd8d43;
}
#navigate ul li .current {
	color: #fd8d43;
}
#navigate ul li ul {
	display: none;
}
#navigate ul li ul li {
}
#navigate ul li ul li a {
}
#navigate ul li ul li a:hover {
}
/*end*/

/*mobile menu*/
.navbar-toggle {
	margin: 15px 0px 0 0;
}
.navbar-toggle .icon-bar {
	background-color: #333;
}
.mobile_nav {
	display: none;
	background: #FD862B;
}
.mobile_nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.mobile_nav li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-bottom: 1px solid #fff;
	position: relative;
}
.mobile_nav ul li a {
	padding-left: 10px;
	color: #fff;
	display: block;
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	font-weight: bold;
}
.mobile_nav ul li a:hover, .mobile_nav ul li a:active {
	background-color: #ED7417;
}
.mobile_nav ul ul {
	margin: 0;
	padding: 0 10px 10px 10px;
	display: none;
}
.mobile_nav ul ul li {
	border-bottom: none;
	margin: 0;
	padding: 0;
}
.mobile_nav ul ul li a {
	padding: 0;
	padding-left: 5px;
	font-size: 14px;
	font-weight: normal;
	height: 38px;
	line-height: 38px;
}
.mobile_nav ul li i {
	position: absolute;
	top: 12px;
	right: 5px;
	display: block;
	width: 13px;
	height: 13px;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.mobile_nav ul li i.touch-arrow-down {
	background-image: url(http://zf032109.demo.kangjingept.com/skin/images/touch-arrow-d.png);
}
.mobile_nav ul li i.touch-arrow-up {
	background-image: url(http://zf032109.demo.kangjingept.com/skin/images/touch-arrow-u.png);
}
/*手机底部导航*/
#toolbar2 {
	display: none;
}
/*toolbar*/
#toolbar {
	width: 60px;
	position: fixed;
	right: 0px;
	top: 50%;
	margin-top: -170px;
	z-index: 1000000;
}
#toolbar ul {
}
#toolbar li {
	width: 60px;
	height: 60px;
	float: left;
	margin: 4px 0px;
	position: relative;
}
#toolbar li .t_item {
	width: 60px;
	height: 60px;
	background: #555555;
	text-align: center;
	line-height: 60px;
	display: block;
	border-radius: 5px 0 0 5px;
	color: #fff;
	text-decoration: none;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
}
#toolbar li a.t_item:hover, #toolbar li a.cur {
	background: #ff7010;
}
.tool_qq {
	position: absolute;
	left: -148px;
	top: -100px;
	width: 148px;
	padding: 0 10px 0 0;
	display: none;
}
#qq_top {
	width: 100%;
	height: 85px;
	background: url(http://zf032109.demo.kangjingept.com/skin/images/qq_top.jpg) no-repeat center;
}
.tool_qq_con {
	width: 100%;
	padding: 5px 0;
	float: left;
	background: #f9fbfb;
	text-align: center;
}
.tool_qq_con div {
	margin: 8px auto;
}
.tool_qq_con div a {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.tool_qq_con div a:hover {
	color: #ff7010;
}
.tool_qq_con div a img {
	margin-right: 10px;
}
.tool_tel {
	width: 100%;
	margin-top: 15px !important;
}
.tool_tel h3 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #040404;
}
.tool_tel h4 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #ff7010;
	font-family: arial;
}
.tool_weixin2 {
	width: 100%;
	padding: 10px;
	background: #fff;
}
.tool_weixin2 img {
	width: 100%;
	height: auto;
}
.tool_weixin {
	position: absolute;
	top: 0px;
	width: 120px;
	left: -130px;
	padding: 0 10px 0 0;
	display: none;
}
.t_wx_con {
	width: 120px;
	background: #f9fbfb;/* border:1px solid #f9fbfb; */
	padding: 6px;
	text-align: center;
	font-size: 14px;
	line-height: 22px;
}
.t_wx_con img {
	width: 100px;
	height: 100px;
}
.t1 i {
	width: 60px;
	height: 60px;
	background: url(./u1.png) no-repeat center center;
	display: block;
}
.t2 i {
	width: 60px;
	height: 60px;
	background: url(./online.png) no-repeat center center;
	display: block;
}
.t3 i {
	width: 60px;
	height: 60px;
	background: url(./u3.png) no-repeat center center;
	display: block;
}
.t4 i {
	width: 60px;
	height: 60px;
	background: url(./wechat.png) no-repeat center center;
	display: block;
}
.t5 i {
	width: 60px;
	height: 60px;
	background: url(./top.png) no-repeat center center;
	display: block;
}
/*flash*/
#banner {
	width: 100%;
	float: left;
}
#banner img {
	width: 100%;
	height: auto;
}
#flash {
	width: 100%;
	float: left;
}
.slideBox {
	position: relative;
	overflow: hidden;
	background: #000;
}
.slideBox .bd {
	position: relative;
	z-index: 0;
	margin: 0 auto;
}
.slideBox .bd li {
	position: relative;
	text-align: center;
	height: 560px;
}
.slideBox .bd li img {
	width: 100%;
}
.slideBox .hd {
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 10px;
	left: 0;
	height: 12px;
	line-height: 12px;
}
.slideBox .hd ul {
	text-align: center;
}
.slideBox .hd ul li {
	cursor: pointer;
	display: inline-block;
*display:inline;
	zoom: 1;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	overflow: hidden;
	background: #fff;/*filter:alpha(opacity=80);opacity:0.8;*/
	line-height: 999px;
	border-radius: 50%;
}
.slideBox .hd ul .on {
	background: #FD862B;
}
.slideBox .prev {
	display: none;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -37.5px;
	width: 49px;
	height: 75px;
	background: url(http://zf032109.demo.kangjingept.com/skin/images/left.png) no-repeat left top;
	cursor: pointer;
}
.slideBox .next {
	display: none;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -37.5px;
	width: 49px;
	height: 75px;
	background: url(http://zf032109.demo.kangjingept.com/skin/images/right.png) no-repeat left top;
	cursor: pointer;
}
/*end*/

/* home */
.home_top {
	float: left;
	width: 100%;
	height: 55px;
	overflow: hidden;
}
.home_top h3 {
	float: left;
	display: inline-block;
	line-height: 55px;
	font-size: 24px;
	color: #333;
}
.home_top a {
	float: right;
	display: inline-block;
	padding-left: 20px;
	background: url(http://zf032109.demo.kangjingept.com/skin/images/home_more.png) no-repeat left center;
	font-size: 14px;
	color: #fd8d43;
	line-height: 55px;
}
/* 热销产品 */
#pro {
	float: left;
	width: 100%;
	background: #f5f4f3;
	padding: 25px 0 0 0;
}
.pro_con {
}
.pro_left {
	float: left;
	width: 50%;
}
.pro_right {
	float: right;
	width: 50%;
}
.pro_item {
	float: left;
	background: #fff;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
}
.pro_item_1, .pro_item_2 {
	width: 280px;
	height: 360px;
	margin-right: 20px;
}
.pro_item_3 {
	width: 580px;
	height: 270px;
	margin-right: 20px;
}
.pro_item_4 {
	width: 600px;
	height: 280px;
}
.pro_item_5 {
	width: 290px;
	height: 350px;
	margin-right: 20px;
}
.pro_item_6 {
	width: 290px;
	height: 350px;
}
.pro_item_img {
	width: 100%;
	height: 100%;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: contain;
}
.img_position {
	background-position: 0% 100%;
}
.pro_item_title {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	padding: 30px 10px 0 30px;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.title_position {
	padding: 60px 10px 0 65%;
}
.title_position_2 {
	padding: 60px 10px 0 60px;
}
.pro_item_title h3 {
	float: left;
	width: 100%;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
}
.pro_item_title h3 a {
	font-size: 24px;
	color: #333;
	padding-right: 28px;
	background: url(./pro_li.png) no-repeat right center;
}
.pro_item_title h4 {
	float: left;
	width: 100%;
	line-height: 26px;
	font-size: 14px;
	color: #9a9a9a;
	margin-top: 8px;
}
.pro_item:hover .pro_item_title {
	background: rgba(255,255,255,0.5);
}
.pro_item:hover .pro_item_title h3 a {
	color: #fd8d43;
}
/* 保险选择对象 */
.select_con {
	float: left;
	width: 100%;
	padding: 0 0 20px 0;
}
.select_item {
	float: left;/* width:25%; */
	width: 276px;
	margin: 0 15px 20px 15px;
}
.select_item a {
	float: left;
	width: 100%;
	display: block;
	background: #fff;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.select_item_img {
	width: 100%;
	height: 165px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.select_item_con {
	float: left;
	width: 100%;
	padding: 22px;
	min-height: 150px;
	background: url(./s_li.png) no-repeat right bottom;
}
.select_item_con h3 {
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 18px;
	color: #333;
}
.select_item_con h4 {
	width: 100%;
	font-size: 14px;
	color: #999;
	line-height: 26px;
}
.select_item a:hover {
	background: #fd8d43;
}
.select_item a:hover .select_item_con h3, .select_item a:hover .select_item_con h4 {
	color: #fff;
}
.scrollable {
	overflow: hidden;
	position: relative;
}
.scrollable ul {
	padding: 0;
	_margin-left: -5px !important;
	list-style: none;
	overflow: hidden;
	width: 10000em;
}
.scrollable a.carousel-next {
	right: -10px;
}
.scrollable a.carousel-prev {
	left: -10px;
}
.scrollable .carousel-direction a {
	display: block;
	overflow: hidden;
	position: absolute;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-top: 0;
	top: 137.5px;
	color: #fff;
	font-size: 22px;
	background-color: #FD862B;
	border: 1px solid #FD862B;
	border-radius: 50%;
	font-family: simsun;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	z-index: 100;
}
.carousel-direction a {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.scrollable-5col .carousel-direction a {
	top: 15px;
}
.partner_page {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
.partner_page a {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #e5e5e5;
	margin: 0 5px;
}
.partner_page a.selected {
	background: #FD862B;
}
.partner_page a span {
	display: none;
}
/* 新闻中心 */
#news {
	float: left;
	width: 100%;
	padding: 25px 0 0 0;
}
.slideTxtBox2 .hd {
	float: left;
	width: 100%;
	height: 55px;
	line-height: 55px;
	border-bottom: 1px solid #e6e6e6;
}
.slideTxtBox2 .hd li {
	float: left;
	display: inline-block;
	font-size: 24px;
	color: #666;
	line-height: 54px;
	margin-right: 25px;
	cursor: pointer;
}
.slideTxtBox2 .hd li.on {
	color: #fd8d43;
	border-bottom: 1px solid #fd8d43;
}
.slideTxtBox2 .bd {
	float: left;
	width: 100%;
	margin-top: 23px;
}
.slideTxtBox2 .bd ul {
	float: left;
	width: 100%;
}
.news_item {
	width: 550px;
	float: left;
	padding-right: 10px;
	margin-bottom: 30px;
	cursor: pointer;
}
.news_position {
	float: right;
}
.news_item_img {
	float: left;
	width: 28.18%;
	overflow: hidden;
}
.news_item_img img {
	width: 100%;
	height: auto;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.news_item_con {
	float: right;
	width: 68.18%;
}
.news_item_title {
	float: left;
	width: 100%;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
}
.news_item_title a {
	font-size: 18px;
	color: #333;
}
.news_item_desc {
	float: left;
	width: 100%;
	font-size: 14px;
	color: #666;
	line-height: 24px;
	margin-top: 8px;
}
.news_item_more {
	color: #fd8d43;
	margin-left: 10px;
}
.news_item_time {
	float: left;
	width: 100%;
	height: 20px;
	line-height: 30px;
	font-size: 12px;
	color: #999;
}
.news_item:hover .news_item_title a {
	color: #fd8d43;/* text-decoration:underline; */
}
.news_item:hover .news_item_img img {
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
}
/* 合作机构 */
#partner {
	float: left;
	width: 100%;
	padding: 15px 0 30px 0px;
}
.partner_top {
	float: left;
	width: 100%;
	height: 50px;
}
.partner_top h3 {
	line-height: 50px;
	font-size: 18px;
	color: #333;
}
.partner_con {
	float: left;
	width: 100%;
}
.partner_con_row {
	margin-left: -7.5px;
	margin-right: -7.5px;
}
.partner_item {
	float: left;
	padding: 0 7.5px;
	margin-bottom: 15px;
}
.partner_item_img {
	width: 136px;
	height: 68px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
/* 质量保证 */
#quality {
	float: left;
	width: 100%;
	padding: 20px 0;
	background: #ff7010;
}
.q1, .q2, .q3, .q4 {
	float: left;
	width: 24.723%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: url(./q_li.jpeg) no-repeat left center;
}
.q1 a, .q2 a, .q3 a, .q4 a {
	display: inline-block;
	height: 50px;
	font-size: 24px;
	color: #fff;
	padding-left: 60px;
	background-size: contain !important;
}
.q1 {
	width: 25.833%;
	background: none;
}
/* footer */
#footer {
	float: left;
	width: 100%;
	background: #f5f4f3;
	padding: 37px 0 35px 0;
}
#help {
	float: left;
	width: 100%;
	border-bottom: 1px solid #dcdbdb;
}
.help_list {
	float: left;
	padding: 0 5px;
	min-height: 200px;
}
.help_list:nth-child(1) {
	width: 230px;
}
.help_list:nth-child(2) {
	width: 170px;
}
.help_list:nth-child(3) {
	width: 170px;
}
.help_list:nth-child(4) {
	width: 345px;
}
.help_list:nth-child(5) {
	width: 205px;
}
.help_top {
	float: left;
	width: 100%;
	height: 36px;
	overflow: hidden;
}
.help_top h3 {
	float: left;
	height: 36px;
	line-height: 36px;
	font-size: 18px;
	color: #363636;
}
.help_top span {
	float: right;
	width: 14px;
	height: 36px;
	background: url(http://zf032109.demo.kangjingept.com/skin/images/footer_li.png) no-repeat center;
	display: none;
	-ms-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.help_top span:hover {
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.help_list ul {
	float: left;
	padding: 0;
	margin-top: 5px;
}
.help_list ul li {
	float: left;
	width: 100%;
	height: 24px;
	line-height: 24px;
}
.help_list ul li a {
	font-size: 14px;
	color: #666;
}
.help_list:nth-child(1) ul li {
	width: 39%;
}
.help_con {
	float: left;
	width: 100%;
	line-height: 35px;
	color: #666;
	font-size: 14px;
}
.help_con span {
	font-size: 18px;
	color: #ff7010;
}
#copy_txt {
	float: left;
	width: 100%;
	line-height: 24px;
	font-size: 14px;
	color: #666;
	text-align: center;
}
/* 友情链接 */
#link {
	float: left;
	width: 100%;
	padding: 20px 45px;
}
.link_top {
	float: left;
	width: 75px;
	font-size: 14px;
	line-height: 24px;
	color: #333;
}
.link_con {
	float: left;
	width: 1040px;
	height: 24px;
	overflow: hidden;
	position: relative;
	padding-right: 50px;
}
.link_con li {
	float: left;
}
.link_con li a {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	color: #333;
	margin-right: 10px;
}
.link_btn {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 24px;
	font-size: 14px;
	color: #333;
	cursor: pointer;
}
#LeftButton {
	width: 24px;
	height: 42px;
	display: block;
	background: url(http://zf032109.demo.kangjingept.com/skin/images/left.png) no-repeat 0px 0px;
	position: absolute;
	left: 0px;
	top: 55px;
}
#RightButton {
	width: 24px;
	height: 42px;
	display: block;
	background: url(http://zf032109.demo.kangjingept.com/skin/images/right.png) no-repeat 0px 0px;
	position: absolute;
	left: 736px;
	top: 55px;
}
#MarqueeDiv {
	width: 692px;
	float: left;
	height: 152px;
	overflow: hidden;
	margin: 0 0 0 34px;
	display: inline;
}
#MarqueeDiv img {
	margin-right: 10px;
	height: 150px;
	width: 150px;
}
/*end*/


/*left*/
#left {
	width: 100%;
	float: left;
	text-align: center;
}
.left_list {
	width: 100%;
	float: left;
}
.left_top {
	display: none;
}
.left_top h3 {
}
.left_con {
	float: left;
	width: 100%;
}
.type_list {
	width: 100%;
	float: left;
}
.type_list ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.type_list li {
	display: inline-block;
	padding: 0px;
	list-style-type: none;
	margin: 10px 0;
}
.type_list li a {
	font-size: 16px;
	height: 36px;
	margin: 0 5px;
	line-height: 36px;
	padding: 0 30px;
	background: #fd8d43;
	display: inline-block;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.type_list li a:hover, .type_list li a.current {
	background: #ff7010;
}
.type_list li.second_cat {
}
.type_list li.second_cat a {
}
.type_list li.second_cat a:hover {
}
.type_list li.second_cat a.current {
}
/*end*/

/*right*/
#right {/* width:880px; */
	width: 100%;
	float: right;
}
#right_top {
	width: 100%;
	height: 60px;
	line-height: 60px;
	float: left;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	display: none;
}
#right_top h3 {
	font-size: 24px;
	color: #45b1ff;
	line-height: 60px;
	font-family: "微软雅黑";
}
#right_top h3 a {
	color: #45b1ff;
}
#right_top span {
	float: right;
}
#right_con {
	width: 100%;
	float: left;
	padding: 10px 0 0 0;
	line-height: 200%;/*overflow-x:hidden;*/
	min-height: 300px;
	height: auto !important;
	height: 300px;
}
#right_con img {
	max-width: 100%;
	height: auto;
}
/*end*/

/*demo*/
#demo {
	overflow: hidden;
	width: 900px;
	height: 145px;
	margin: 35px 0 0 10px;
	float: left;
	display: inline;
}
#cdemo {
	overflow: hidden;
	width: 900px;
}
#demo img {
}
#indemo {
	float: left;
	width: 800%;
}
#demo1 {
	float: left;
}
#demo2 {
	float: left;
}
/*end*/

	 
/*news*/
.art_list {
	width: 100%;
	float: left;
	padding: 15px 0;
	border-bottom: 1px dashed #dcdcdc;
	cursor: pointer;
}
.art_img {
	float: left;
	width: 20%;
}
.art_img img {
	width: 100%;
}
.art_right {
	float: right;
	width: 78%;
}
.art_title {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	overflow: hidden;
}
.art_title a {
	text-decoration: underline;
}
.art_author {
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #666;
}
.art_author span {
	margin: 0 10px 0 0;
	color: #999;
}
.art_des {
	color: #666;
	line-height: 25px;
}
.art_more a {
	color: #fd8d43;
}
.art_list:hover {
	border-bottom: 1px dashed #fd8d43;
}
.art_list:hover .art_title a {
	color: #fd8d43;
}
.articleList {
	width: 100%;
	float: left;
}
.articleList ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.articleList li {
	margin: 0px;
	padding: 0 0 0 10px;
	list-style-type: none;
	border-bottom: 1px dotted #ccc;
	background: url(http://zf032109.demo.kangjingept.com/skin/images/li_0.png) no-repeat left center;
	line-height: 35px;
}
.time {
	float: right;
}
.articleTitle {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
.articleAuthor {
	text-align: center;
	padding: 7px 0px;
	border-bottom: 1px dotted #ccc;
}
.articleauthor span {
	margin: 0px 6px;
	font-size: 9pt;
}
.articleInfo {
	width: 100%;
	padding: 10px 0;
	line-height: 200%;
}
.articleInfo img {
	max-width: 100%;
}
.pageUpDown {
	padding-top: 10px;
	text-align: left;
	line-height: 30px;
}
/*end*/

/*Product*/
.productList {/*width:100%;float:left;*/
}
.pro_list {
	float: left;
	margin: 15px auto;
	width: 25%;
	height: 340px;
	padding: 0 15px;
}
.pro_list2 {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 5px #dcdcdc;
}
.pro_img img {
	width: 100%;
}
.pro_title {
	width: 100%;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
}
.productTitle {
	line-height: 35px;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
}
.productImg {
	width: 100%;
	text-align: center;
	float: left;
	margin: 10px auto;
}
.productImg img {
	max-width: 100%;
}
.productBuy {
	width: 100%;
	text-align: center;
	float: left;
	margin: 10px auto;
}
.productBuy a {
	margin: 0 10px;
}
/*.productBuy a{width:120px;height:40px;line-height:40px;background:#45b1ff; display:inline-block; color:#fff; border-radius:5px; font-size:14px;}
.productBuy a:hover{background:#000;}*/
.title {
	width: 100%;
	float: left;
	margin: 10px 0 0 0;
	border-bottom: 1px dotted #ccc;
	line-height: 25px;
}
.title span {
	font-size: 14px;
	font-weight: bold;
}
.productDesc {
	line-height: 200%;
	padding: 10px 0;
	width: 100%;
	float: left;
}
/*end*/

/*page*/
.pages {
	font-size: 12px;
	text-align: center;
	padding: 10px 0px 10px 0px;
}
.pages li {
	display: inline-block;
}
.pages a {
	font-size: 12px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	margin: 0 2px;
}
.pages a:hover {
	background: #eee;
}
.pages li.active a {
	background: #eee;
	color: #f00;
}
.pages select {
	vertical-align: middle;
	font-size: 8pt;
	padding: 0px;
}
.pages b {
	font-weight: normal;
}
/*end*/

/*feedback*/
.f_list {
	width: 100%;
	float: left;
	margin: 5px auto;
	clear: both;
}
.f_list .fl_l {
	float: left;
	width: 20%;
	text-align: right;
}
.f_list .fl_r {
	float: left;
	width: 80%;
}
.input_text {
	width: 90%;
	border: 1px solid #ccc;
	line-height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.w100 {
	width: 100px;
}
/*end */
@media screen and (min-width: 1230px) {
.container {
	width: 1230px;
}
}
@media screen and (max-width: 1230px) {
.pro_item_1, .pro_item_2 {
	width: 46.666%;
	margin-right: 3.333%;
}
.pro_item_3 {
	width: 96.666%;
	margin-right: 3.333%;
}
.pro_item_4 {
	width: 100%;
}
.pro_item_5 {
	width: 48.333%;
	margin-right: 3.333%;
}
.pro_item_6 {
	width: 48.333%;
}
.slideBox .bd li {
	height: 450px;
}
#navigate ul li a {
	padding: 0 15px;
}
}
@media screen and (max-width: 1200px) {
#link {
	padding: 20px 15px;
}
.link_top {
	width: 100%;
}
.link_con {
	width: 100%;
}
.news_item {
	width: 100%;
	padding-right: 0;
}
.pro_list {
	width: 33.33%;
}
}
@media screen and (max-width: 992px) {
.pro_left, .pro_right {
	width: 100%;
}
.pro_item_1, .pro_item_5 {
	width: 48%;
	margin-right: 4%;
}
.pro_item_2, .pro_item_6 {
	width: 48%;
	margin-right: 0;
}
.pro_item_3 {
	width: 100%;
}
.pro_item_4 {
	width: 100%;
}
#top {
	display: none;
}
.slideBox .bd li {
	height: 400px;
}
#logo img {
	height: 65px;
}
#navigate {
	margin: 25px 5px 0 0;
}
#navigate ul li a {
	padding: 0 10px;
	font-size: 12px;
}
.q1, .q2, .q3, .q4 {
	height: 40px;
	line-height: 40px;
}
.q1 a, .q2 a, .q3 a, .q4 a {
	height: 40px;
	font-size: 16px;
	padding-left: 40px;
}
.pro_list {
	height: 300px;
}
.pro_item_title h3 a {
	font-size: 18px;
}
.pro_item_title h4 {
	line-height: 20px;
}
}
 @media screen and (max-width: 767px) {
.slideBox .bd li {
	height: 350px;
}
#navigate {
	display: none;
}
.mobile_nav {
	display: block;
	position: absolute;
	z-index: 2;
	width: 100%;
}
.m_search {
	float: left;
	width: 100%;
	padding: 15px;
}
.m_search #search {
	float: none;
	width: 70%;
	margin: 0 auto;
}
#logo img {
	height: 50px;
	margin: 5px 0;
}
.scrollable a.carousel-next {
	right: 0px;
}
.scrollable a.carousel-prev {
	left: 0px;
}
.news_item {
	width: 100%;
	padding-right: 0;
}
.pro_list {
	width: 50%;
}
}
 @media screen and (max-width: 640px) {
.pro_item_1, .pro_item_2, .pro_item_5, .pro_item_6 {
	height: 296px;
}
.pro_item_3, .pro_item_4 {
	height: 233px;
}
.slideBox .bd li {
	height: 300px;
}
.news_item_time {
	display: none;
}
#link, #quality {
	display: none;
}
.help_list {
	width: 100% !important;
	border-bottom: 1px solid #e2e2e2;
	min-height: 36px;
}
.help_list:nth-child(4) .help_top {
	display: none;
}
.help_list:nth-child(4) {
	border-bottom: none;
}
.help_list:nth-child(5) {
	border-bottom: none;
}
.help_list ul {
	display: none;
	margin-bottom: 15px;
}
.help_top span {
	display: block;
}
.help_top h3 {
	font-size: 16px;
}
.wechat {
	padding: 15px 0;
}
#copy_txt span {
	display: block;
}
#footer {
	padding: 15px 0;
}
/*手机底部导航*/
.blank55 {
	width: 100%;
	height: 55px;
	clear: both;
	overflow: hidden;
}
#toolbar2 {
	color: #fff;
	width: 100%;
	height: 54px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 8;
	background: #333;
	display: block;
}
#toolbar2 a {
	width: 100%;
	color: #fff;
	display: block;
	padding: 5px 0 0 0;
	line-height: 23px;
	font-size: 14px;
}
#toolbar2 a span {
	font-size: 22px;
	display: block;
}
#toolbar {
	display: none;
}
.art_img {
	width: 30%;
}
.art_right {
	width: 68%;
}
.art_author, .art_more {
	display: none;
}
.art_des {
	max-height: 75px;
	overflow: hidden;
}
.main {
	padding: 5px 0 15px 0;
}
.main_top {
	margin-bottom: 10px;
}
.type_list li {
	margin: 5px 0;
}
}
 @media screen and (max-width: 480px) {
.pro_item_1, .pro_item_2, .pro_item_5, .pro_item_6 {
	height: 230px;
}
.pro_item_3, .pro_item_4 {
	height: 180px;
}
.pro_item_title {
	padding: 20px 10px 0 20px;
}
.pro_item_title h3 a {
	font-size: 16px;
}
.pro_item_title h4 {
	font-size: 12px;
	margin-top: 4px;
}
.title_position {
	padding: 60px 10px 0 65%;
}
.slideBox .bd li {
	height: 180px;
}
.m_search #search {
	width: 100%;
}
.news_item_title a {
	font-size: 16px;
}
.news_item_desc {
	height: 48px;
	overflow: hidden;
}
.home_top h3 {
	font-size: 20px;
}
.slideTxtBox2 .hd li {
	font-size: 20px;
}
.pro_list {
	height: 250px;
	padding: 0 10px;
}
.row {
	margin-left: -10px;
	margin-right: -10px;
}
.art_title {
	font-size: 16px;
	height: 25px;
	line-height: 25px;
}
.art_des {
	max-height: 40px;
	line-height: 20px;
}
}
 @media screen and (max-width: 375px) {
.pro_item_1, .pro_item_2, .pro_item_5, .pro_item_6 {
	height: 210px;
}
.pro_item_3, .pro_item_4 {
	height: 150px;
}
.title_position {
	padding: 40px 10px 0 65%;
}
.pro_list {
	height: 220px;
}
}

/*新增翻页样式 各类模版第一站 */
.pagess {clear: both;margin: 20px;overflow: hidden;margin-left: 0px;text-align: center;font-size:12px}
.pagess ul li { display:inline-block;border: 1px solid #ccc;padding: 2px 9px;margin: 0 3px;line-height: 20px;background: #fff;color:#999}
.pagess ul li:hover{ background:#ccc; color:#fff;border: 1px solid #ccc}
.pagess ul li:hover a{color:#fff;}
.pagess ul li.thisclass {display: inline-block;border: 1px solid #ccc;padding: 2px 9px;margin: 0 3px;background: #ccc;color: #fff;}
.pagess ul li.thisclass a {color: #fff;}
.pagess ul li a{ display:block;color:#999}
.pagess ul li a:hover {color: #fff;}